<div th:fragment="footer">
    <!-- Footer Start -->
    <nav class="container-fluid pt-4 px-4 mt-auto">
        <div class="rounded-top p-4 bg-body-secondary text-body">
            <div class="row">
                <div class="col-12 col-sm-6 text-center text-sm-start">
                    &copy; <strong>
                        <a href="#" class="text-decoration-none" style="color: var(--primary);">Acadalyze&trade;</a>
                    </strong>, All Rights Reserved.
                </div>
                <div class="col-12 col-sm-6 text-center text-sm-end">
                    Designed & Developed by 
                    <a href="#" class="text-decoration-none" style="color: var(--primary);">Ralph Gervacio</a>
                </div>
            </div>
        </div>
    </nav>
</div>
