/* 
    Created on : Jun 29, 2025, 5:06:04 PM
    Author     : synta
*/

/* Button inside header */
#refreshCurrentEnrolledBtn {
    background-color: var(--light) !important;
    color: var(--primary) !important;
    border: 1px solid var(--primary) !important;
}
